@media (max-width: 1018px) {
  header nav ul.center-ul {
    display: none;
  }

  nav.navigation {
    display: flex;
    justify-content: flex-end;
  }
  nav.mobile a {
    color: #fff;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 10px;
    overflow: hidden;
  }

  .one,
  .two,
  .three {
    background: #ffffff;
    height: 3px;
    margin: 6px auto;
    width: 100%;
    border-radius: 20px;
    transition: all 260ms;
  }

  .menu-mobile {
    margin-right: 40px;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  .center-ul-mobile {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
  }

  .mobile {
    position: fixed;
    transform: translateX(-100%);
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191920;
    z-index: 10;
    transition: transform 500ms linear;
  }

  .mobile-show {
    transform: translateX(0);
  }
  .x-menu .one {
    transform: rotate(45deg) translate(8px, 4px);
  }
  .x-menu .two {
    opacity: 0;
  }

  .x-menu .three {
    transform: rotate(-45deg) translate(9px, -5px);
  }
}

@media (min-width: 1018px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 560px) {
  .menu-mobile {
    margin-right: 10px;
    width: 35px;
  }
}
