.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-screen {
  width: 70%;
  margin: 70px auto;
}

.center-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1018px) {
  .container-screen {
    width: 90%;
    margin: 0 auto 40px;
  }
}
