.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-screen {
  width: 70%;
  margin: 70px auto;
}

.center-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
